name: ML Train & Deploy Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  # =========================
  # JOB 1: TRAIN (CI)
  # =========================
  train:
    runs-on: ubuntu-latest

    outputs:
      r2_score: ${{ steps.extract_metrics.outputs.r2 }}
      mse: ${{ steps.extract_metrics.outputs.mse }}

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Train Model
        run: |
          python train.py

      - name: Extract Metrics
        id: extract_metrics
        run: |
          R2=$(python -c "import json; print(json.load(open('output/metrics.json'))['R2_Score'])")
          MSE=$(python -c "import json; print(json.load(open('output/metrics.json'))['MSE'])")
          echo "r2=$R2" >> $GITHUB_OUTPUT
          echo "mse=$MSE" >> $GITHUB_OUTPUT

      - name: Upload Model & Metrics
        uses: actions/upload-artifact@v4
        with:
          name: trained-model
          path: output/

  # =========================
  # JOB 2: DEPLOY (CD)
  # =========================
  deploy:
    needs: train
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Download Trained Model
        uses: actions/download-artifact@v4
        with:
          name: trained-model

      - name: Compare Metrics
        id: compare
        run: |
          CUR_R2=${{ needs.train.outputs.r2_score }}
          CUR_MSE=${{ needs.train.outputs.mse }}
          BEST_R2=${{ vars.BEST_R2_SCORE }}
          BEST_MSE=${{ vars.BEST_MSE }}

          echo "Current R2: $CUR_R2 | Best R2: $BEST_R2"
          echo "Current MSE: $CUR_MSE | Best MSE: $BEST_MSE"

          if (( $(echo "$CUR_R2 <= $BEST_R2" | bc -l) )) || (( $(echo "$CUR_MSE >= $BEST_MSE" | bc -l) )); then
            echo "${{ github.actor }}----Metric did not improve"
            exit 0
          fi

          echo "deploy=true" >> $GITHUB_OUTPUT

      - name: Login to DockerHub
        if: steps.compare.outputs.deploy == 'true'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & Push Docker Image
        if: steps.compare.outputs.deploy == 'true'
        run: |
          IMAGE=${{ secrets.DOCKERHUB_USERNAME }}/ml-model:latest
          docker build -t $IMAGE .
          docker push $IMAGE

      - name: Update Best Metrics
        if: steps.compare.outputs.deploy == 'true'
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh variable set BEST_R2_SCORE --body "${{ needs.train.outputs.f1_score }}"
          gh variable set BEST_MSE --body "${{ needs.train.outputs.mse }}"
